:root {
	--font-size-main: 0.906rem; /* 14.5px */
	--font-size-second: 0.688rem; /* 11px */

	--color-main: rgba(0, 0, 0, 0.8);
	--border-main: rgba(0, 0, 0, 0.6);
	--border-shorthand: 0.063rem solid rgba(0, 0, 0, 0.6);

	/* Button */
	--button-hover-backround: rgba(0, 0, 0, 0.8);
	--button-hover-color: rgba(255, 255, 255, 0.9);
	--font-size-button: 0.769rem; /* 12.3px */

	--unit-one: 0.438rem; /* 7px */
	--unit-two: 0.75rem; /* 12px */
}

*, *::before, *::after {
	color: var(--color-main);
	box-sizing: border-box;
}

body { /* Left & right spacing is left & right from default body margin + 12px */
	height: 100vh;
	margin-top: 0;
	margin-bottom: 0;
	padding: var(--unit-two);
	font-size: var(--font-size-main);
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 9vh);
	max-width: 400px;
	margin: 4.5vh auto;
	text-align: center;
}

hr {
	border-top: var(--border-shorthand);
	margin: 0;
}

#rock-paper-scissors {
	width: 100%;
}

.__game {
	border: var(--border-shorthand);
}

/* Score Section / Most Top */

._score {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border-bottom: var(--border-shorthand);
	padding: var(--unit-one) var(--unit-two);
}

.your-score_,
.opponent-score_ {
	font-weight: bold;
}

/* Picked Choices / Middle */

._picked {
	border-bottom: var(--border-shorthand);
	padding: var(--unit-one);
}

.player_,
.picked-choices_ {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: calc(var(--unit-one) * 1.5);
}

.player_ {
	font-weight: bold;
}

/* Choices / Buttons */

._choices {
	display: flex;
}

._choices button,
._reset button {
	background: none;
	border: none;
	width: 100%;
	padding: var(--unit-one) var(--unit-two);
	font-size: var(--font-size-button);
	cursor: pointer;
}

/* Game History */

.__history {
	border: var(--border-shorthand);
	margin-top: var(--unit-two);
}

._table {
	border-bottom: var(--border-shorthand);
	height: 20vh;
	max-height: 140px;
}

._table table {
	border-collapse: collapse;
	width: 100%;
}

._table table th {
	padding: var(--unit-one) var(--unit-two);
}

/* Media Query */

@media (hover: hover) {
	._choices button:hover,
	._reset button:hover {
		color: var(--button-hover-color);
		background: var(--button-hover-backround);
	}
}